<header>
  <a href="#"><h1>M.A.P. Reformas /h1></a>

  <!-- Ícone do menu hambúrguer -->
  <div class="menu-toggle" id="menu-toggle" aria-label="Abrir menu" aria-expanded="false">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <!-- Navegação -->
  <nav id="nav">
        <a href="/sitemarcos/index.html">Início</a>
        <a href="/sitemarcos/pages/about.html">Sobre</a>
        <a href="/sitemarcos/pages/fotos.html">Fotos</a>
        <a href="/sitemarcos/pages/videos.html">Vídeos</a>
        <a href="/sitemarcos/index.html#orcamento">Orçamento</a>
    </nav>
</header>